[submodule "site/presentations/themes/reveal"]
	path = site/presentations/themes/reveal
	url = https://github.com/dzello/reveal-hugo.git
[submodule "site/main/themes/retroful"]
	path = site/main/themes/retroful
	url = https://github.com/mkjmdski/retrofulhugo.git
[submodule "cv"]
	path = cv
	url = https://github.com/mkjmdski/Awesome-CV
