.tagline {
    i.fab {
        margin-right: 0.3em;
    }
}

section {
    h3 {
        margin-top: 1em;
    }
}

#fab-icons-social{
    .fab-link{
        font-size: 3em;
    }
}

.navigation {
    hr {
        border : 0;
        height : 3px;
        background-image: -webkit-linear-gradient(left, #000000, lighten($link-color, 25%));
        background-image: -moz-linear-gradient(left, #000000, lighten($link-color, 25%));
        background-image: -ms-linear-gradient(left, #000000, lighten($link-color, 25%));
        background-image: -o-linear-gradient(left, #000000, lighten($link-color, 25%));
        background-image: linear-gradient(left, #000000, lighten($link-color, 25%));
    }
}