.btn{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
    word-wrap: break-word;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    position: relative;
    top: 0;
    transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
    line-height: normal;
    font-size: 14px;
    padding: 7px 10px;
    padding-right: 58px;
    border: 2px solid $alt-fg-color;
    color: $fg-color;
    .fab{
    	background: $bg-color;
    }
    margin-bottom: 0.5em;
}

.btn{
    &:focus,
    &:hover {
        background: $link-color;
        color: $bg-color;
        .fa-arrow-right{
            color: $bg-color;
        }
    }
}

.btn--rounded{
    border-radius: 1.5em;
}

.btn-icon{
    background: $fg-color;
    color: $alt-bg-color;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
        -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
    padding: 5px;
}
